@import url("./__container/popup__container.css");
@import url("./__title/popup__title.css");
@import url("./__close/popup__close.css");
@import url("./__input-form/popup__input-form.css");
@import url("./__input-text/popup__input-text.css");
@import url("./__input-btn/popup__input-btn.css");
@import url("./__error/popup__error.css");

.popup {
  display: flex; 
  visibility: hidden;
  height: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  z-index: 9999;
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 1.5s, 0s;
  transition-delay: 0s, 1s;
  /*transition-timing-function: ease-in-out; */
}
