.profile__add-btn {
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background-color: #2A2C2F;
    background-image: url('../../../images/add-btn.png');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0;
    margin-left: auto;
  }

  .profile__add-btn:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    .profile__add-btn {
      width: 100%;
      max-width: 282px;
      margin-top: 36px;
    }
  }