@import url("./__title/img-popup__title.css");
@import url("./__close/img-popup__close.css");
@import url("./__container/img-popup__container.css");
@import url("./__fullpic/img-popup__fullpic.css");

.img-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  z-index: 99999;
  transition: opacity 1s 1s;
}